{% extends 'employee/base.html' %}

{% block src %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/js/tempusdominus-bootstrap-4.min.js" integrity="sha512-k6/Bkb8Fxf/c1Tkyl39yJwcOZ1P4cRrJu77p83zJjN2Z55prbFHxPs9vN7q3l3+tSMGPDdoH51AEU8Vgo1cgAA==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css" integrity="sha512-3JRrEUwaCkFUBLK1N8HehwQgu8e23jTH4np5NHOmQOobuC4ROQxFwFgBLTnhcnQRMs84muMh0PnnwXlPq5MGjg==" crossorigin="anonymous" />
{% endblock %}

{% block content %}
<div class="mt-4">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Full name: {{form.full_name}}</p>
        <p>Salary: {{form.salary}}</p>
        <p>Hired at: </p>
        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">

            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                {{ form.hired_at }}
                <div class="input-group-text">
                    <i class="fa fa-calendar"></i>
                </div>
            </div>
        </div>
        <p>Parent: {{form.parent}}</p>
        <p>Image: {{form.image}}</p>
        <button type="submit" class="btn btn-primary">Save</button>

        <a href="{% url 'employees-detail' %}" class="btn btn-outline-secondary">Cancel</a>
    </form>
</div>

<script>
    $(function () {
        $("#datetimepicker1").datetimepicker({
            format: 'YYYY-MM-DD',
        });
    });
</script>
{% endblock %}