{% extends 'employee/base.html' %}

{% block src %}

{% endblock %}

{% block content %}
<div class="container ">
    <div class="main-body mt-4">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="{{employee.image.url}}" class="rounded-circle" width="200">
                            <div class="mt-3">
                                <h4>{{employee.full_name}}</h4>
                                <p class="text-secondary mb-1">Level: {{employee.level}}</p>
                                <p class="text-secondary mb-1">ID: {{employee.pk}}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Full Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{employee.full_name}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Level</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{employee.level}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Salary</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{employee.salary}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Hired at</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{employee.hired_at}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Boss</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{employee.parent}}
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>
{% endblock %}