{% extends 'employee/base.html' %}
{% load static %}
{% block content %}
<table class="table table-striped mt-4">
    <thead class="thead-dark">
    <tr>
        <th scope="col">
            <div class="btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                  <input type="checkbox" checked>
                  <img src="{% static 'employee/filterUD.svg' %}" alt="">
                </label>
            </div>
        </th>
        <th scope="col"><a href="full_name" class="top_raw">Full Name</a> </th>
        <th scope="col"><a href="parent" class="top_raw">Boss Name</a></th>
        <th scope="col"><a href="salary" class="top_raw">Salary</a></th>
        <th scope="col"><a href="hired_at" class="top_raw">Hired</a></th>
        <th scope="col"><a href="level" class="top_raw">Level</a></th>
        <th scope="col"><a href="#" class="top_raw">Foto</a></th>
        <th scope="col"><a href="#" class="top_raw">Action</a></th>
    </tr>
    </thead>
    <tbody>
    {% for employee in employees %}
    <tr>
        <th scope="row">{{employee.id}}</th>
        <td>{{ employee.full_name }}</td>
        {% if employee.parent %}
        <td>{{ employee.parent.full_name }}</td>
        {% else %}
        <td>Boss</td>
        {% endif %}
        <td>{{ employee.salary }}</td>
        <td>{{ employee.hired_at|date:"F d, Y" }}</td>
        <td>{{ employee.level }}</td>
        <td><img class="rounded-circle article-img" src="{{ employee.image.url }}"></td>
        <td>
            <a href="{% url 'employees-edit' employee.pk %}">edit</a><br>
            <a href="{% url 'employees-delete' employee.pk %}">delete</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% include 'inc/_pagination.html' %}


<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script>
    function printResult(response) {
        console.log('begin printing result\n')
        let $tableBody = $("tbody")
        $tableBody.empty()
        if (response.results.length > 0) {
            for (let i = 0; i < response.results.length; i++) {
                let parent = 'Boss'
                if (response.results[i].parent) {
                    parent = response.results[i].parent.full_name
                }
                $tableBody.append('<tr>\n' +
                    '<th scope="row">' + response.results[i].pk + '</th>\n' +
                    '<td>' + response.results[i].full_name + '</td>\n' +
                    '<td>' + parent + '</td>\n' +
                    '<td>' + response.results[i].salary + '</td>\n' +
                    '<td>' + response.results[i].hired_at + '</td>\n' +
                    '<td>' + response.results[i].level + '</td>\n' +
                    '<td><img class="rounded-circle article-img" src="' + response.results[i].image + '"></td>\n' +
                    '<td>\n' +
                    '<a href="/employees/'+ response.results[i].pk +'/edit">edit</a><br>' +
                    '<a href="/employees/'+ response.results[i].pk +'/delete">delete</a>' +
                    '</td>' +
                    '</tr>'
                )
            }
            $pagination = $('.pagination')
            $pagination.empty()
            if (response.count > 1){

                console.log(response.data)
                console.log(response.links['previous'])
                $pagination.append('<li class="page-item ' + (response.links['previous'] ? '': 'disabled') + '"><a class="page-link" href='+ (response.links['previous'] ? response.links['previous']: '#') +'>Previous</a></li>')

                for (let i = response.current_page-2; i<response.current_page+5 && i<response.count+1; i++){
                    if (i>0){
                         if ($pagination.children().length > 5 ){
                            break
                        }
                         pageHref =
                        $pagination.append('<li class="page-item '+ (response.current_page === i ? 'active': '')  +'"><a class="page-link" href=""> '+ (i) +' </a></li>')

                    }

                }
                $pagination.append('<li class="page-item ' + (response.links['next'] ? '': 'disabled') + '"><a class="page-link" href='+ (response.links['next'] ? response.links['next']: '#') +'>Next</a></li>')
                console.log($('.page-item:contains(1)'))
            }

        } else {
            $tableBody.append("<div>Ничего не найдено</div>")
        }
    }

    $('body').on('click', '.page-item', function (event) {
        event.preventDefault()
        console.log(event.target.href)
        $.ajax({
            url: event.target.href,
            type: 'get',
            success: function (response) {
                let $tableBody = $("tbody")
                $tableBody.empty()
                console.log(response.results[0])
                if (response.results.length > 0) {
                    printResult(response)
                }
            }
        })
    })

    $('#search-form').submit(function (e) {
        e.preventDefault();
        let searchData = $(this).find('#search-input').val();
        console.log(searchData);
        $.ajax({
            url: "{% url 'employees-api' %}",
            type: 'get',
            data: {s: searchData},
            success: function (response) {
                let $tableBody = $("tbody")
                $tableBody.empty()
                printResult(response)
            }
        })
    })
</script>

<script>
    $('.top_raw').click(function (e) {
        e.preventDefault();
        let order_by = $(this).attr('href');
        let searchData = $('#search-form').find('#search-input').val();
        if ($('th').find('input').prop('checked') == true){
            order_by = '-' + order_by
        }
        console.log(order_by);
        $.ajax({
            url: "{% url 'employees-api' %}",
            type: 'get',
            data: {order_by: order_by,
            s: searchData},
            success: function (response) {
                printResult(response)
            }
        })
    })
</script>
<script>
    $('th').find('img').click(function(){
        if ($('th').find('input').prop('checked') == true){
            $('th').find('img').attr('src', "{% static 'employee/filterDU.svg' %}" )
        } else { $('th').find('img').attr('src', "{% static 'employee/filterUD.svg' %}")
        }
   })  
</script>
{% endblock %}