<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'employee/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'employee/main.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
{% include 'inc/_nav.html' %}

<table class="table table-striped mt-4">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col"><a href="?order_by=full_name">Full Name</a></th>
        <th scope="col"><a href="?order_by=parent">Boss Name</a></th>
        <th scope="col"><a href="?order_by=-salary">Salary</a></th>
        <th scope="col"><a href="?order_by=hired_at">Hired</a></th>
        <th scope="col"><a href="?order_by=level">Level</a></th>
    </tr>
    </thead>
    <tbody>
    {% for employee in employees %}
    <tr>
        <th scope="row">{{employee.id}}</th>
        <td>{{ employee.full_name }}</td>
        {% if employee.parent %}
        <td>{{ employee.parent.full_name }}</td>
        {% else %}
        <td>Boss</td>
        {% endif %}
        <td>{{ employee.salary }}</td>
        <td>{{ employee.hired_at|date:"F d, Y" }}</td>
        <td>{{ employee.level }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>


<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script>
    $('#search-form').submit(function (e) {
        e.preventDefault();
        searchData = $(this).find('input[name="s"]').val();

        $.ajax({
            url: '',
            type: 'get',
            data: {s: searchData},
            success: function (response) {
                $("tbody").empty()
                if (response.length > 0) {
                    for (let i = 0; i < response.length; i++) {
                        $("tbody").append('<tr>\n' +
                            '        <th scope="row">' + response[i].pk + '</th>\n' +
                            '        <td>' + response[i].fields.full_name + '</td>\n' +
                            '        \n' +
                            '        <td>' + response[i].fields.parent + '</td>\n' +
                            '        \n' +
                            '        <td>' + response[i].fields.salary + '</td>\n' +
                            '        <td>' + response[i].fields.hired_at + '</td>\n' +
                            '        <td>' + response[i].fields.level + '</td>\n' +
                            '    </tr>')
                    }
                } else {
                    $("tbody").append("<div>Ничего не найдено</div>")
                }
            }
        })
    })
</script>
</body>
</html>
