{% extends 'employee/base.html' %}
{% block content %}
<main>
    {% load mptt_tags %}
    <div class="dd mt-2" id="nestable">
        <ol class="dd-list">
            {% recursetree object_list %}
            <li class="dd-item" data-id="{{node.pk}}">
                <div class="dd-handle">{{ node.full_name }} | level: {{node.level}}</div>
                {% if not node.is_leaf_node and node.get_children%}
                <ol class="dd-list">

                </ol>
                {% endif %}
            </li>
            {% endrecursetree %}
        </ol>
    </div>

    <script>
        $(document).ready(function () {
            // activate Nestable for list 1
            $('#nestable').nestable({});
            $('#nestable').nestable('collapseAll');
            // https://moxiemaks.ru/jquery/sobytija-dlja-dinamicheski-dobavlennyh-jelementov-v-jquery/

            $("body").on("click", 'button[data-action="expand"]', function () {
                let $parent = $(this).parent()
                let dataId = $parent.attr('data-id')
                $.ajax({
                    url: "{% url 'employees-api-tree' %}",
                    type: 'get',
                    data: {pk: dataId},
                    success: function (response) {
                        $parent.find('.dd-list').remove()
                        $parent.append('<ol class="dd-list">\n' +
                            '                            </ol>')
                        $ddList = $parent.find('.dd-list')
                        for (let i = 0; i < response.length; i++) {
                            $ddList.append('<li class="dd-item" data-id="' + response[i].pk + '"><ol class="dd-list" style="display: none;">\n' +
                                '\n' +
                                '                </ol><div class="dd-handle">' + response[i].full_name + ' | level: ' + response[i].level + '</div></li>\n')

                            if (response[i].is_leaf == false) {
                                $ddList.find('.dd-item').last().prepend('<button data-action="expand" type="button" style="display: block;">Expand</button>')
                                $ddList.find('.dd-item').last().prepend('<button data-action="collapse" type="button" style="display: none;">Collapse</button>')
                            }
                        }
                    }
                })

            })
        });
    </script>
</main>
{% endblock %}
