<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'employee/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'employee/main.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script src="{% static 'employee/jquery.nestable.js' %}"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{%include 'inc/_nav.html'%}
<main>
    {% load mptt_tags %}
    <div class="dd mt-2" id="nestable">
        <ol class="dd-list">
            {% recursetree object_list %}
            <li class="dd-item">
                <div class="dd-handle">{{ node.full_name }} | level: {{node.level}}</div>
                {% if not node.is_leaf_node and node.get_children%}
                <ol class="dd-list">
                    {{children}}
                </ol>
                {% endif %}
            </li>
            {% endrecursetree %}
        </ol>
    </div>

    <script>
    $(document).ready(function()
    {
        // activate Nestable for list 1
        $('#nestable').nestable({
            group: 1
        })
        .on('change', updateOutput);
    });
    </script>
</main>
</body>
</html>